/*
* @Author: cghsir
* @Date:   2017-12-27 10:54:40
* @Last Modified by:   cghsir
* @Last Modified time: 2017-12-27 15:49:14
*/
.sider-con .notice{
	height: 215px;
	overflow: hidden;
	color: #777;
	margin-bottom: 20px;
	background: #FFFFFF;
}
.sider-con .notice .notice-header{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	background-color: #E9E9E9;
}
.sider-con .notice .notice-header .notice-item{
	padding: 0 8px;
	float: left;
	cursor: pointer;
	font-size: 14px;
}
.sider-con .notice .notice-header .notice-item.active{
	transition: all 0.2s linear;
	color: #009286;
	background: #FFFFFF;
}
.sider-con .notice .notice-content{
	padding: 2px 15px 10px 15px;
	height: 145px;
	font-size: 13px;
    overflow: hidden;
}
.sider-con .notice .notice-content.active{
	display: block;
}
.sider-con .notice .notice-content{
	display: none;
}