<a href="https://github.com/cghsir/myblogs/tree/dev" class="link" target="_blank" title="本站全部源代码">
	<div class="me">
		<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1514369322027&di=f7585b7e825a89d0e7aadd6c0a8fbe60&imgtype=0&src=http%3A%2F%2Fd.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F1c950a7b02087bf4490182ebf2d3572c10dfcfc7.jpg" alt="" />
	</div>
	<p class="nickname">cghsir</p>
</a>
<p class="gushi">
	弓如满月射天狼，长风瑟瑟泪两行。<br/>
	化水无情今无悔，十年梦泪终难忘。
</p>
<hr style="opacity:0.6;" />
<p class="word">一枚正在向全栈努力的Coder.</p>
<p class="address">
	<i class="fa fa-location-arrow"></i>中国 - 大连
</p>