<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/header-common.html')  %>
	<title><%= htmlWebpackPlugin.options.title%> - Java全栈博客系统  - cghsir</title>
</head>
<body>
	<!-- 头部菜单栏开始 -->
	<%= require('html-loader!./layout/header.html')  %>
	<!-- 头部菜单栏结束 -->
	<!-- search框开始 -->
	<%= require('html-loader!./layout/search-con.html')  %>
	<!-- search框结束 -->
	<div class="pag-wrap w">
		<!-- 面包屑导航 -->
		<div class="crumb-con">
			
		</div>

		<!-- 主内容区开始 -->
		<div class="pag-con">
			<div class="article-con shadow">
				<div class="article-title">美作家开枪怒杀全家 1小时前在晒父子温馨视频</div>
				<div class="article-basic-info">
					编辑时间：2017-12-29 12:46:55&nbsp;作者：cghsir·大连&nbsp;浏览量：391
				</div>
				<div class="article-content">
					
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;美作家开枪怒杀全家 1小时前还在晒父子温馨视频
2017-12-28 13:10:00海外网 分享 参与


安东尼⋅米兰⋅罗斯（图源：美国中文网)

　　海外网12月28日电 25日，美国知名素食厨师和作家安东尼⋅米兰⋅罗斯（Anthony Milan Ross）在住所内枪杀前妻及一对儿女，警方当日即将他抓捕归案。令人难以置信的是，就在罗斯行凶前1小时，他还在脸书上发布了与儿子奈吉尔（Nigel）的圣诞视频。

　　据美国中文网报道，25日，45岁的美国知名素食厨师和作家安东尼⋅米兰⋅罗斯在亚利桑那州凤凰城的住所内开枪杀死自己的前妻及一双儿女，警方当日即将他抓捕归案。

　　知情人士透露称，25日下午案发时，罗斯在凤凰城与家人过圣诞，罗斯还在脸书上发布了他和儿子唱圣诞歌的视频，然而仅仅1小时后，命案就发生了。据目击者表示，罗斯在前妻艾瑞斯（Iris Ross）准备逃跑的时候向她开了枪，紧接着罗斯拿着枪回到了屋里，屋内也传来两三声枪响。邻居听见枪声后立即向警方报案，警方赶往住处后在庭院内发现了已遭杀害的38岁前妻艾瑞斯，但是不见罗斯11岁的儿子奈吉尔和10个月大的女儿安诺拉，于是怀疑他们被罗斯挟持在屋内。



罗斯在脸书上发布他和儿子唱圣诞歌的温馨视频（图源：美国中文网)

　　警方与屋内的罗斯对峙了6个小时，晚间时分，警察切断了公寓的电源，破门而入后制服了罗斯，并在屋内时找到了奈吉尔和安诺拉的遗体。据参与案件的警察霍华德回忆，罗斯当时精神错乱，表述也前后不一，他先称“自己已杀了孩子”，后来他又改口说“孩子们还活着，我要杀了他们”。

　　据悉，罗斯是美国一位知名的素食厨师、作家和励志演说家，罗斯二十多岁时通过成为素食主义者减掉了大量的体重。他以自身减重成功的例子多次登台演讲鼓励他人并因此成名。25日，罗斯杀害家人的消息传出后，不少人表示“十分吃惊”，粉丝纷纷表示对他感到憎恶，并到他之前发布的圣诞视频下面留言，称之为“恶心的凶手”。



罗斯的前妻和一对儿女（图源：美国中文网)

　　据艾瑞斯的姐妹沃加斯（Mary Wogas）表示，罗斯和他的妻子目前正在离婚诉讼中。罗斯今年6月与妻子艾瑞斯离婚后，曾多次要求复合但是遭到拒绝，此前他就曾威胁说要杀了前妻与孩子们。

　　沃加斯称，罗斯患有抑郁症。案发当天下午，她收到了两条罗斯发来的短信，第一个说：“我刚杀了艾瑞丝和孩子们”，第二条消息是“用枪”。沃加斯表示，“我知道那个人（罗斯）很不稳定，我知道他有非常、非常黑暗的一面，但是没想到有这么黑暗。”

　　警方表示，罗斯被控3项一级谋杀罪与19项严重袭警罪，最重可能被判处死刑。（海外网 张莎莎）
				</div>
				<hr/>
				<div class="article-license">
					<p>出自：我的博客</p>
					<p>地址：www.myblogs.org</p>
					<p style="color: red">如若转载请注明出处!</p>
				</div>
			</div>
		</div>
		<!-- 主内容区结束 -->

		<div class="sider-con">
			<!-- 边栏关于我 -->
			<div class="about-con shadow">
				<%= require('html-loader!./layout/about.html')  %>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>