<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/header-common.html')  %>
	<title><%= htmlWebpackPlugin.options.title%> - Java全栈博客系统  - cghsir</title>
</head>
<body>
	<!-- 头部菜单栏开始 -->
	<%= require('html-loader!./layout/header.html')  %>
	<!-- 头部菜单栏结束 -->
	<!-- search框开始 -->
	<%= require('html-loader!./layout/search-con.html')  %>
	<!-- search框结束 -->
	<div class="pag-wrap w">
		<!-- 网站通知开始 -->
		<%= require('html-loader!./layout/home-tips.html')  %>
		<!-- 网站通知结束 -->
		<!-- 主内容区开始 -->
		<div class="pag-con">
			<!-- banne开始 -->
			<div class="banner-con">
				<!-- <img src="http://bpic.588ku.com/back_pic/04/41/93/395851263bea989.jpg!ww800"> -->
				<div class="loading"></div>
			</div>
			<!-- banner结束 -->
			<!-- <span class="article-header-title">
					最新发布
			</span> -->
			<!-- 文章列表区开始 -->
			<div class="article-con">
				
			</div>
			<!-- 文章列表区结束 -->
		</div>
		<!-- 主内容区结束 -->
		<div class="sider-con">
			<!-- 公告部分 -->
			<div class="notice shadow">
				
			</div>
			<!-- 边栏关于我 -->
			<div class="about-con shadow">
				<%= require('html-loader!./layout/about.html')  %>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html')  %>
</body>
</html>