<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%> - Java全栈博客系统  - cghsir</title>
</head>
<body>
	<!-- 头部菜单栏开始 -->
	<div class="header">
		<div class="logo-con">
			<a href="">
				<h1 class="_title">我的博客</h1>
			</a>
			<span class="_title_small"> - 专注Java全栈开发</span>
		</div>
		<div class="menu-con">
			<ul>
				<li class="menu-item active">
					<a href="./index.html?page=index">网站首页</a>
				</li>
				<li class="menu-item">
					<a href="./index.html?page=front">前端技术</a>
				</li>
				<li class="menu-item">
					<a href="./index.html?page=backend">后端技术</a>
				</li>
				<li class="menu-item">
					<a href="./index.html?page=database">数据库</a>
				</li>
				<li class="menu-item">
					<a href="./index.html?page=source">源码分享</a>
				</li>
				<li class="menu-item">
					<a href="./index.html?page=about">关于本站</a>
				</li>
			</ul>
			<div class="login-con">
				<i class="fa fa-qq"></i>
				<i class="fa fa-wechat"></i>
			</div>
		</div>
	</div>
	<!-- 头部菜单栏结束 -->
	<!-- search框开始 -->
	<div class="search-con">
		<div class="icon-con">
			<label for="search-input"></label>
			<i class="fa fa-search"></i>
		</div>
		<input id="search-input" type="text" class="search-input" placeholder="搜索吧,你懂得！">
	</div>
	<!-- search框结束 -->
	<div class="pag-wrap w">
		<!-- 网站通知开始 -->
		<div class="home-tips shadow">
			<i class="fa fa-volume-up"></i>
			<div class="tip-con">
				<span class="tip-item">
					<a href="./article.html?articleId=001" class="link" target="_blank">MyBlogs—— 一个Java程序员的个人博客，目前正在建设中！</a>
				</span>
			</div>
		</div>
		<!-- 网站通知结束 -->
		<!-- 主内容区开始 -->
		<div class="pag-con">
			<!-- banne开始 -->
			<div class="banner">
				<img src="http://bpic.588ku.com/back_pic/04/41/93/395851263bea989.jpg!ww800">
			</div>
			<!-- banner结束 -->
			<span class="article-header-title">
					最新发布
			</span>
			<!-- 文章列表区开始 -->
			<div class="article-con">
				<div class="article-item shadow">
					<div class="article-left">
						<img src="http://www.haoracle.com/uploads/allimg/160705/1-160F5141233H8.jpg" alt="">
					</div>
					<div class="article-right">
						<div class="article-title">
							<a href="./article.html?articleId=002" class="link" target="_blank">我是标题啊我是标题啊</a>
						</div>
						<div class="article-content">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊

							</p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;2017-12-26</span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;Administrator</span>
                        <span>
                        	<i class="fa fa-tag"></i>&nbsp;&nbsp;
							<a href="./article.html?tagId=001" class="link green" target="_blank">我是标签</a>
                        </span>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;273</span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;4</span>
                    </div>
				</div>
				<div class="article-item shadow">
					<div class="article-left">
						<img src="http://www.haoracle.com/uploads/allimg/160705/1-160F5141233H8.jpg" alt="">
					</div>
					<div class="article-right">
						<div class="article-title">
							<a href="./article.html?articleId=002" class="link" target="_blank">我是标题啊我是标题啊</a>
						</div>
						<div class="article-content">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊

							</p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;2017-12-26</span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;Administrator</span>
                        <span>
                        	<i class="fa fa-tag"></i>&nbsp;&nbsp;
							<a href="./article.html?tagId=001" class="link green" target="_blank">我是标签</a>
                        </span>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;273</span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;4</span>
                    </div>
				</div>
				<div class="article-item shadow">
					<div class="article-left">
						<img src="http://www.haoracle.com/uploads/allimg/160705/1-160F5141233H8.jpg" alt="">
					</div>
					<div class="article-right">
						<div class="article-title">
							<a href="./article.html?articleId=002" class="link" target="_blank">我是标题啊我是标题啊</a>
						</div>
						<div class="article-content">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊

							</p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;2017-12-26</span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;Administrator</span>
                        <span>
                        	<i class="fa fa-tag"></i>&nbsp;&nbsp;
							<a href="./article.html?tagId=001" class="link green" target="_blank">我是标签</a>
                        </span>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;273</span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;4</span>
                    </div>
				</div>
				<div class="article-item shadow">
					<div class="article-left">
						<img src="http://www.haoracle.com/uploads/allimg/160705/1-160F5141233H8.jpg" alt="">
					</div>
					<div class="article-right">
						<div class="article-title">
							<a href="./article.html?articleId=002" class="link" target="_blank">我是标题啊我是标题啊</a>
						</div>
						<div class="article-content">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊

							</p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;2017-12-26</span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;Administrator</span>
                        <span>
                        	<i class="fa fa-tag"></i>&nbsp;&nbsp;
							<a href="./article.html?tagId=001" class="link green" target="_blank">我是标签</a>
                        </span>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;273</span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;4</span>
                    </div>
				</div>
				<div class="article-item shadow">
					<div class="article-left">
						<img src="http://www.haoracle.com/uploads/allimg/160705/1-160F5141233H8.jpg" alt="">
					</div>
					<div class="article-right">
						<div class="article-title">
							<a href="./article.html?articleId=002" class="link" target="_blank">我是标题啊我是标题啊</a>
						</div>
						<div class="article-content">
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊我是摘要内容啊

							</p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;2017-12-26</span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;Administrator</span>
                        <span>
                        	<i class="fa fa-tag"></i>&nbsp;&nbsp;
							<a href="./article.html?tagId=001" class="link green" target="_blank">我是标签</a>
                        </span>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;273</span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;4</span>
                    </div>
				</div>
			</div>
			<!-- 文章列表区结束 -->
		</div>
		<!-- 主内容区结束 -->
		<div class="sider-con">
			我是边栏
		</div>
	</div>
	<div class="footer w">
		本博客版权归 cghsir 所有 
	</div>
<!-- 离子特效 -->
<!-- <script src="http://oyo30u761.bkt.clouddn.com/style/js/canvas-nest.js"></script> -->

</body>
</html>